* {
    scroll-behavior: smooth !important;
    box-sizing: border-box;
}

body {
    background-color: #1d1d1d;
    background-size: cover;
    font-family: monospace;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #1d1d1d;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
}

.toggle-button {
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.nav_links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.nav_links li a:hover {
    color: #90ee90; 
}

.open {
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
    font-family: monospace;
}

.open:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white
}

.modal {
    border-radius: 15px;
    background-color: white;
    font-family: sans-serif;
    overflow: hidden;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.6);
}

.modal h2 {
    text-align: center;
    margin-bottom: 30px;
}

.modal form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 200px;
}

.modal form textarea {
    padding: 10px 10px;
    grid-column: 1 / 3;
    border: 1px solid #90ee90;
    font-family: sans-serif;
    outline: none;
}

.modal form input {
    padding: 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #90ee90;
}

::placeholder {
    color: black;
}

.modal form label {
    font-size: 15px;
}

.modal .submit-button {
    margin-top: 20px;
    padding: 9px 25px;
    width: 100%;
    background-color: lightgreen;
    border: black;
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

.modal .submit-button:hover {
    background-color: green;
}

.modal .close {
    position: absolute;
    right: 10px;
    font-size: 42px;
    cursor: pointer;
    text-align: right;
    transform: rotate(45deg);
}

.modal .close:hover {
    color: gray;
}

.container {
    background-color: #282a2d;
    background-image: url(../Images/back4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
}

.section_intro {
    line-height: 10px;
    z-index: 10;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.section_intro p {
    font-size: 20px;
}

.section_intro h1 {
    font-size: 60px;
}

.wrapper {
    display: flex;
    justify-content: left;
}

.wrapper .static_text {
    font-size: 26px;
}

.wrapper .dynamic_text {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 10px;
    line-height: 27px;
    height: 27px;
    overflow: hidden;
    margin-top: 9px;
}

.dynamic_text li {
    color: #90ee90;
    list-style: none;
    font-size: 26px;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
}

.dynamic_text li ::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-left: 2px solid #90ee90;
    animation: typing 3s steps(9) infinite;
    background-color: #1d1d1d; 
}

@keyframes slide {
    100% {
        top: -83px
    }
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 10px);
    }
    100% {
        left: 0;
    }
}

.section_about_container {
    width: 99.5%;
    height: 100vh;
}

.section_about {
    line-height: 25px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 750px;
    text-align: left;
    position: absolute;
    /*
    padding-left: 9.5rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: grid;
    gap: 7rem;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    */
}

/*

.about_heading {
    line-height: 20px;
    margin-top: 30px;
    margin-left: 150px;
    position: absolute;
    font-size: 30px;
    border-left: 4px solid #90ee90;
    padding-left: 5px;
}

*/

.section_about p {
    font-size: 15px;
    line-height: 30px;
}

.section_about h1 {
    font-size: 30px;
    border-left: 4px solid #90ee90;
    padding-left: 5px;
}

.section_about .wrapper .static_text {
    padding-top: 7px;
    padding-bottom: 10px;
}

.headshot {
    max-width: 100%;
    height: auto;
    width: 85%;
    margin-left: 620px;
    position: absolute;
    margin-top: 20px;
    top: 0;
}

/*

.section_services_container {
    background-color: #111111;
    width: 100%;
    height: 600px;
}

.section_services {
    line-height: 20px;
    margin-left: 150px;
    margin-top: 5px;
    text-align: left;
    position: absolute;
    border: 2px solid #111111;
    background-color: #111111;
    border-radius: 25px;
    width: 50%;
    padding: 10px;
}

.section_services h1 {
    font-size: 30px;
    border-left: 4px solid #90ee90;
    padding-left: 5px;
}

.section_services .box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
}

.section_services .box_container .box {
    border: 2px solid #90ee90;
    background-color: #111111;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
    text-align: left;
}

.section_services .box_container .box:hover {
    box-shadow: 0 10px 15px black;
    transform: scale(1.02);
}

*/

.section_skills_container {
    background-color: #111111;
    width: 100%;
    height: 100vh;
}

.section_skills {
    line-height: 20px;
    position: absolute;
    margin-top: 15px;
    margin-left: 150px;
    text-align: left;
}

.section_skills h1 {
    font-size: 30px;
    border-left: 4px solid #90ee90;
    padding-left: 5px;
}

/* GRID LAYOUT */

.section_skills .wrapper_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(270px, 1fr));
    gap: 10px;
}

.section_skills .wrapper_container .wrap.service {
    border: 2px solid white;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
}

/*

.wrap:nth-child(1) {
    grid-row: 1;
    grid-column: 4;
}

.wrap:nth-child(2) {
    grid-row: 2;
    grid-column: 4;
}

.wrap:nth-child(3) {
    grid-row: 3;
    grid-column: 4;
}

.wrap:nth-child(4) {
    grid-row: 4;
    grid-column: 4;
}

.wrap:nth-child(5) {
    grid-row: span 2;
}

.wrap:nth-child(6) {
    grid-row: span 2;
}

.wrap:nth-child(7) {
    grid-row: span 2;
}

.wrap:nth-child(8) {
    grid-row: span 2;
}

.wrap:nth-child(9) {
    grid-row: span 2;
}

.wrap:nth-child(10) {
    grid-row: span 2;
}

/* END OF GRID LAYOUT */

.section_skills .wrapper_container .wrap.service  h3 {
    font-size: 15px;
}

.section_skills .wrapper_container .wrap {
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
}

.section_skills .wrapper_container .wrap:hover {
    box-shadow: 0 10px 15px black;
    transform: scale(1.02);
}

.section_skills .wrapper_container .wrap img {
    width: 100px;
    height: 100px;
}

.section_skills .wrapper_container .wrap h3 {
    font-size: 22px;
}

.section_projects_container {
    background-color: #282a2d;
    width: 100%;
}

.projects_heading {
    line-height: 20px;
    margin-top: 30px;
    margin-left: 150px;
    position: absolute;
    font-size: 30px;
    border-left: 4px solid #90ee90;
    padding-left: 5px;
}

.section_projects {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.section_projects img {
    max-width: 100%;
    height: auto;
}

.section_projects p {
    line-height: 30px;
}

.section_projects p a {
    transition: all 0.3s ease 0s;
    color: #90ee90;
}

.section_projects p a:hover {
    color: green;
}


.hidden {
    opacity: 0;
    transition: all 3s;
}


.show {
    opacity: 1;
}

footer {
    text-align: center;
    line-height: 40px;
}

i {
    color: #90ee90;
}

/* MOBILE VERSION */

@media only screen and (max-width: 600px) {

    body {
        max-width: 100%;
    }

    header .open {
        display: none;
    }

    .section_intro {
        line-height: 20px;
        display: block;
        width: 100%;
    }

    .section_intro h1 {
        font-size: 40px;
    }

    .section_about h1 {
        text-align: center;
        border-bottom: 4px solid #90ee90;
        border-left: none;
        padding-bottom: 10px;
        padding-left: none;
    }

    .section_about .static_text {
        padding-top: 10px;
    }

    .section_about {
        margin: auto;
        width: 100%;
    }

    .left-text {
        padding: 10px;
    }

    .section_about .headshot {
        display: none;
    }
    
    .section_about_container {
        height: 75vh;
    }

    .section_skills_container {
        height: 1200px;
    }

    .section_skills {
        margin: auto; 
        width: 100%;
    }

    .section_skills h1 {
        text-align: center;
        border-bottom: 4px solid #90ee90;
        border-left: none;
        padding-bottom: 10px;
        padding-left: none;
    }

    .section_skills .wrapper_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section_skills .wrapper_container .wrap {
        width: calc(100% - 70px);
    }

    .section_projects {
        width: 100%;
        display: block;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .projects_heading {
        padding-top: 20px;
        margin: auto;
        width: 100%;
        text-align: center;
        border-bottom: 4px solid #90ee90;
        border-left: none;
        padding-bottom: 10px;
        padding-left: none;
    }


    

    .toggle-button {
        display: flex;
        margin-top: 15px;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-left: 60px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_links li {
        width: 100%;
        padding: 0.5rem;
        text-align: center;
    }

    .nav_links.active {
        display: flex;
    }
}